body {
  margin: 0;
  background: #1d1b1b;
  font-family: monospace;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  padding: 2rem;
  box-sizing: border-box;
}

#scrambleText {
  flex: 2 1 20%;
  line-height: 1;
  margin-left: 1vw;
}

.line {
  position: relative;
  color: #04d3a6;
  font-weight: bold;
  font-size: clamp(3rem, 16vw, 20vh);
  white-space: nowrap;
}

.line::before,
.line::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  color: #aa17ff;
  clip: rect(0, 900px, 0, 0);
}

.line::before {
  left: 2px;
  text-shadow: -2px 0 red;
}

.line::after {
  left: -2px;
  text-shadow: -2px 0 blue;
}

.line:hover {
  animation: glitch 1s infinite;
}

.line:hover::before {
  animation: glitchTop 1s infinite linear alternate-reverse;
}

.line:hover::after {
  animation: glitchBottom 1s infinite linear alternate-reverse;
}

@keyframes glitch {
  2%, 64% { transform: translate(2px, 0); }
  4%, 60% { transform: translate(-2px, 0); }
  62% { transform: translate(0, 0) skew(5deg); }
}

@keyframes glitchTop {
  2%, 64% {
    clip: rect(2px, 9999px, 5px, 0);
    transform: translate(2px, -2px);
  }
  4%, 60% {
    clip: rect(15px, 9999px, 20px, 0);
    transform: translate(-2px, 2px);
  }
  62% {
    clip: rect(5px, 9999px, 10px, 0);
    transform: translate(13px, -1px) skew(-13deg);
  }
}

@keyframes glitchBottom {
  2%, 64% {
    clip: rect(85px, 9999px, 90px, 0);
    transform: translate(-2px, 0);
  }
  4%, 60% {
    clip: rect(55px, 9999px, 60px, 0);
    transform: translate(-2px, 0);
  }
  62% {
    clip: rect(75px, 9999px, 80px, 0);
    transform: translate(-22px, 5px) skew(21deg);
  }
}

.project-card {
  background: #222;
  padding: 2rem;
  border-radius: 1rem;
  color: #fff;
  max-width: 500px;
  flex: 1 1 35%;
}

.project-card h2 {
  color: #04d3a6;
}

.project-card .btn {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 1rem;
  background: #04d3a6;
  color: #000;
  text-decoration: none;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  border-radius: 0.5rem;
}

.graphics-section {
  display: none; 
  width: 100%;
}

.graphics-section.grid {
  display: grid;
  grid-template-columns: 4fr;  margin-top: 2rem;
}

.card {
  background: #222;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.card h2 {
  margin-top: 0;
  color: #04d3a6;
}

.card iframe {
  border: none;
  border-radius: 0.5rem;
  width: 100%;
  aspect-ratio: 4 / 3; /* Mantiene proporción */
  max-height: 500px;
}

@media (max-width: 730px) {
  .container {
    flex-direction: column;
  }

  #scrambleText {
    flex: 1 1 100%;
    margin-left: 2vw;
    order: 1;  /* Texto primero */
  }

  .project-card {
    order: 2; /* Tarjeta después */
    margin-left: 2vw;
  }

  .graphics-section.grid {
    grid-template-columns: 1fr;
  }
}


@media (min-width: 1024px) {
  .card iframe {
    min-height: 500px;
  }
}
